#datepicker {
    padding-left: 20px;
    padding-right: 20px;
    height: 47%;
    position: relative;
    margin-bottom: 50px;

    .ui-datepicker-inline {
        display: inline-block;
        width: 100%;
        height: 100%;
        position: relative;

        .ui-datepicker-header {
            position: relative;
            height: 20%;
            display: table;
            width: 100%;

            .ui-datepicker-title {
                text-align: center;
                display: table-cell;
                vertical-align: middle;

                .ui-datepicker-month {
                    @extend %font-calendar-title;
                    font-weight: 900;
                }

                .ui-datepicker-year {
                    display: none;
                }
            }

            .ui-datepicker-next {
                position: absolute;
                top: 2px;
                width: 1.8em;
                height: 1.8em;
                right: 2px
            }

            .ui-datepicker-prev {
                @extend .ui-datepicker-next;
                left: 2px;
            }

            .ui-corner-all {
                top: 50%;
                margin-top: -16px;
            }

            .ui-icon {
                display: block;
                position: absolute;
                left: 50%;
                margin-left: -8px;
                top: 50%;
                margin-top: -8px;
                text-indent: -99999px;
                overflow: hidden;
                background-repeat: no-repeat;
                width: 20px;
                height: 20px;
                background-image: url(img/icons.png);
                background-size: 160%;
            }

            .ui-icon-circle-triangle-w {
                background-position: 5px 2px;
                left: 10%;
            }

            .ui-icon-circle-triangle-e {
                background-position: 2px 3px;
                transform: rotate(3.14rad);
                left: 70%;
            }
        }

        .ui-datepicker-calendar {
            width: 100%;
            height: 75%;
            border-spacing: 0px;

            tbody {
                tr {
                    td {
                        @extend %font-calendar-td;
                        text-align: center;
                        vertical-align: middle;

                        &.holidays {
                            position: relative;

                            &:after {
                                position: absolute;
                                content: " ";
                                top: 2px;
                                left: 0;
                                right: 0;
                                bottom: 2px;
                                background-color: #585864;
                                z-index: -1;
                            }

                            a {
                                color: white;
                            }
                        }

                        &.middle-holidays:after {}

                        $radius: 25px;

                        &.start-holidays:after {
                            border-top-left-radius: $radius;
                            border-bottom-left-radius: $radius;
                        }

                        &.end-holidays:after {
                            border-top-right-radius: $radius;
                            border-bottom-right-radius: $radius;
                        }

                        &.ui-datepicker-today {
                            position: relative;

                            &:after {
                                position: absolute;
                                content: " ";
                                border-radius: 5px;
                                top: 4px;
                                left: 7px;
                                right: 7px;
                                bottom: 4px;
                                background-color: #6b74ff;
                                z-index: -1;

                                a.ui-state-highlight {
                                    color: white;
                                }
                            }
                        }

                        a {
                            color: inherit;
                        }
                    }
                }
            }

            th {
                padding: .7em .3em;
                text-align: center;
                font-weight: bold;
                background-color: #f0f0ff;
                border: 0px solid red;
                @extend %font-calendar-td;
                line-height: 14px;

                &:first-child {
                    border-top-left-radius: 25px;
                    border-bottom-left-radius: 25px;
                }

                &:last-child {
                    border-top-right-radius: 25px;
                    border-bottom-right-radius: 25px;
                }
            }
        }
    }
}