html,
body {
    height: 100%;
}

.wrapper {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    min-height: 568px;

    .empty-div {
        height: 5%;
    }
}

ul {
    margin: 0;
    padding: 0;

    li {
        list-style: none;
        padding: 0;
        margin: 0;
    }
}

%section {
    position: absolute;
    left: 0;
    width: 100%;
}