.event-input-group {
    @extend %section;
    top: 142%;
    padding: 0 25px;

    input.form-control {
        @extend %font-event-input-field;
    }

    .event-color {
        @extend %font-reminder-message-h6;
        text-transform: none;
        text-align: center;
        margin-bottom: 20px;

        .event-pick-title {
            margin-bottom: 15px;
        }

        .event-pick-color {
            ul {
                li {
                    display: inline-block;
                    margin: 0 3px;

                    a {
                        padding: 12.5px;
                        border-radius: 50%;
                        display: inline-block;

                        &:focus {
                            box-shadow: inset 0 0 0px 2px black;
                            outline: 0;
                        }
                    }

                    &:nth-child(1) a {
                        background-color: #8bf2e6;
                    }

                    &:nth-child(2) a {
                        background-color: #e8537d;
                    }

                    &:nth-child(3) a {
                        background-color: #f8df87;
                    }

                    &:nth-child(4) a {
                        background-color: #6bc0ff;
                    }

                    &:nth-child(5) a {
                        background-color: #d682ff;
                    }
                }
            }
        }
    }

    .btn.btn-primary {
        background-color: $base-color;
        font-size: 12px;
    }
}