.event-types {
    @extend %section;
    height: 69%;
    top: 61%;
    text-align: center;

    .event-type-title {
        @extend %event-type-title;
        position: relative;
        margin-top: -25px;
        margin-bottom: 14px;
        text-transform: none;
    }

    &>ul {
        height: 100%;

        li.event-type {
            @extend %font-event-type;
            display: inline-block;
            width: 30%;
            background-color: white;
            height: 100%;
            border-radius: 5px;

            &>ul {
                height: 100%;

                li {
                    height: 50%;
                    text-align: center;
                    position: relative;

                    &:last-child a {
                        position: absolute;
                        top: 4px;
                        right: 0;
                        bottom: 0;
                        left: 0;
                        display: inline-block;
                        padding: 0 24px;
                        border-radius: 5px;
                        border-top-left-radius: 0px;
                        border-top-right-radius: 0px;
                        border: 2px solid transparent;

                        &:focus {
                            border-bottom: 2px solid #bae9ff;
                            border-left: 2px solid #bae9ff;
                            border-right: 2px solid #bae9ff;
                        }


                        &:after {
                            display: inline-block;
                            height: 100%;
                            vertical-align: middle;
                            content: "";
                        }
                    }

                    &:last-child {
                        background-color: #f7f7ff;
                    }

                    span.event-type-icon {
                        background-image: url(img/icons.png);
                        background-repeat: no-repeat;
                        width: 30px;
                        height: 30px;
                        display: inline-block;
                        position: absolute;
                        top: 0;
                        right: 0;
                        bottom: 0;
                        left: 0;
                        margin: auto;
                    }

                    span.event-type-name {
                        @extend %font-event-type;
                        display: inline-block;
                        vertical-align: middle;
                        text-transform: none;
                        line-height: 12px;
                        position: relative;
                        top: -4px;
                    }
                }
            }

            &.event-type-meetup .event-type-icon {
                background-position: -29px -86px;
                background-size: 58px;
            }

            &.event-type-dinner .event-type-icon {
                background-position: -29px -57px;
                background-size: 58px;
            }

            &.event-type-flight .event-type-icon {
                background-position: 1px -87px;
                background-size: 58px;
            }
        }
    }
}