%font-header-date-h3 {
    font: 18px Arial;
    color: white;
}

%font-header-date-span {
    font: 11px Arial;
    color: #a8c9e1;
}

%font-calendar-td {
    font: 12px Arial;
    color: darken($color:$base-color, $amount: 10%);
}

%font-calendar-title {
    font: 11px Arial;
    color: darken($color:$base-color, $amount: 1%);
}

%font-reminder-message-h6 {
    font-size: 10px;
    color: darken($color:$base-color, $amount: 10%);
}

%font-reminder-message-span {
    font-size: 10px;
    color: lighten($color:$base-color, $amount: 50%);
}

%font-event-date-span {
    color: #8b8c9a;
    font: 10px Arial;
}

%font-header-title {
    font: 10px Arial;
    color: white;
}

%font-event-type {
    @extend %font-reminder-message-h6;
    font-weight: 600;
}

%event-type-title {
    @extend %font-reminder-message-h6;
    color: white;

}

%font-event-input-field {
    @extend %font-calendar-td;
    font-size: 13px;
}

%font-event-color-title {
    @extend %font-reminder-message-h6;
}