.footer {
    position: fixed;
    width: 100%;
    bottom: 0;
    height: 50px;
    background-color: #f2f3ff;
    border-top: 1px solid #e5e5ff;

    table {
        width: 100%;
        height: 100%;
        text-align: center;
        vertical-align: middle;

        .footerIcons {
            display: inline-block;
            text-indent: -99999px;
            overflow: hidden;
            background-repeat: no-repeat;
            width: 18px;
            height: 18px;
            background-image: url(img/icons.png);
            background-size: 193%;
            top: 4px;
            position: relative;
        }

        .cakeIcon {
            background-position: 0px -34px;
        }
        .contactsIcon {
            width: 20px;
            height: 20px;
            background-position: -20px -20px;;
            background-size: 200%;
        }
        .listsIcon {
            background-position: -17px 0px;;
        }
    }
}