.header-wrapper {
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
    background-color: #2d1a66;
    height: 37%;
    color: white;
    text-transform: uppercase;
    position: relative;

    header {
        height: 50px;
        width: 100%;
        text-align: center;
        padding-top: 15px;

        ul {
            padding: 0;
            margin: 0;

            li {
                list-style: none;
                display: inline-block;
                position: relative;

                &.head-icons {
                    span {
                        display: inline-block;
                        background-image: url(img/icons.png);
                        background-repeat: no-repeat;
                        background-size: 30px;
                        position: absolute;
                        width: 14px;
                        height: 16px;
                    }
                }

                &.icon-back {
                    float: left;

                    span {
                        background-size: 20px;
                        background-position: 0 -7px;
                        height: 13px;
                        width: 10px;
                        top: 6px;
                    }

                }

                .header-title {
                    @extend %font-header-title;
                }

                &.icon-option {
                    float: right;

                    span {
                        background-size: 40px;
                        background-position: 0 -81px;
                        right: 0;
                        height: 18px;
                        width: 19px;
                        top: 4px;
                    }
                }
            }
        }
    }

    .header-date {
        text-align: center;
        position: absolute;
        top: 35%;
        width: 100%;
        left: 0;

        .header-current-date {
            margin-bottom: -10px;
            @extend %font-header-date-h3;
        }

        a {
            span {
                @extend %font-header-date-span;
                text-transform: none;
            }
        }
    }

    .event-date {
        top: 30%;
        position: absolute;
        width: 100%;
        left: 0;

        ul {
            display: inline-block;
            position: absolute;
            left: 0;
            right: 0;
            text-align: center;

            li {
                display: inline-block;

                span {
                    background-color: #41318b;
                    width: 85px;
                    display: inline-block;
                    padding: 5px 0;
                    @extend %font-event-date-span;
                }
            }

            .event-date-prev {
                float: left;

                span {
                    border-bottom-right-radius: 15px;
                    border-top-right-radius: 15px;
                }
            }

            .event-date-current {
                display: block;

                span {
                    border-radius: 15px;
                    width: 100px;
                    background-color: white;
                    color: #8b8c9a;
                    padding: 6px 0;
                }
            }

            .event-date-next {
                float: right;

                span {
                    border-bottom-left-radius: 15px;
                    border-top-left-radius: 15px;
                }
            }
        }

    }
}