.reminder-wrapper {
    padding: 0 20px;
    position: relative;
    z-index: 0;

    .reminder-container {
        padding: 25px 20px;
        text-align: center;
        margin-top: -80px;
        background-color: white;
        box-shadow: 0px 1px 20px -10px black;
        border-radius: 5px;
        position: relative;

        &:after {
            content: "";
            position: absolute;
            width: 90%;
            background-color: #5d5091;
            top: -8px;
            height: 20px;
            display: inline-block;
            z-index: -1;
            left: 50%;
            margin-left: -45%;
            border-radius: 5px;
        }
        &:before {
            content: "";
            position: absolute;
            width: 60%;
            background-color: #ffffff17;
            top: -14px;
            height: 20px;
            display: inline-block;
            z-index: -1;
            left: 50%;
            margin-left: -30%;
            border-radius: 5px;
        }

        ul {
            padding: 0;
            display: table;
            margin: 0;
            width: 100%;

            li {
                list-style: none;
                vertical-align: middle;

                &:first-child {
                    width: 25%;
                    display: table-cell;

                    span {
                        width: 45px;
                        height: 45px;
                        background-image: url(img/reminder-img.png);
                        background-repeat: no-repeat;
                        display: inline-block;
                        background-size: 100%;
                    }
                }

                &:last-child {
                    width: 85%;
                    display: table-cell;
                    padding: 0px 21px;

                    h6 {
                        @extend %font-reminder-message-h6;
                        margin-bottom: 3px;;
                        font-size: 10px;
                    }

                    span {
                        @extend %font-reminder-message-span;
                        font-size: 10px;
                        line-height: 1.1em;
                        display: inline-block;
                    }
                }
            }
        }
    }
}