
// bootstrap

// Required
@import "../node_modules/bootstrap/scss/functions";
@import "../node_modules/bootstrap/scss/variables";
@import "../node_modules/bootstrap/scss/mixins";

// bootstrap variables
$input-padding-y: 0.6em;
$input-color: #1b103d;
$input-bg: #f7f7ff;
$form-group-margin-bottom: 10px;
$btn-padding-y: 0.475rem;

@import "../node_modules/bootstrap/scss/reboot";
@import "../node_modules/bootstrap/scss/forms";
@import "../node_modules/bootstrap/scss/buttons";


// custom variables

$base-color: #2d1a66;
$th-font-size: 12px;

// custom styles

@import './common.scss';
@import './fonts.scss';
@import './header.scss';
@import './reminder.scss';
@import './calendar';
@import './event-section.scss';
@import './event-form.scss';
@import './footer';